@model WebApplication1.Models.Employee
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script>
    //$(document).ready(function () {
    //var options = {};
    //options.url = "/api/search";
    //options.type = "GET";
    //options.dataType = "json";
    //options.success = function (data) {
    //    data.forEach(function (element) {
    //        $("#result").append("<h3>" + element + "</h3>");
    //    });
    //};
    //options.error = function () {
    //    $("#msg").html("Error while calling the Web API!");
    //};
    //$.ajax(options);
    //});


    $(document).ready(function () {
        $(".reset-btn").click(function () {
            location.reload();
            return false;
        });
    });

    function hello() {
        var query = document.getElementById("fname").value;
        console.log(query);
        if (query == "")
            alert("Enter some value in the textbox")
        else {
            var options = {};
            options.url = "/api/search/" + query;
            //options.url = "/api/search/";
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {
            data.forEach(function (element) {
                 $("#result").append("<h3>" + element.fullName + "</h3>");
            });
            };
            options.error = function () {
                $("#msg").html("Error while calling the Web API!");
            };
            $.ajax(options);
        }
        
    }

    function hello2() {
        console.log("Function2");
    }

</script>

@*<h1>@ViewData["heading"]</h1>*@

@*<h2>@ViewData["timestamp"]</h2>*@

@*<h2>@Model.FullName</h2>*@


<input type="text" id="fname" name="query" value="">
<button id="button1" onclick="hello(); hello2();">Click</button>
<br />
<br />
<button type="button" class="reset-btn">Reset</button>

<h2>Result of Web API call</h2>

<div id="result"></div>


