@model List<WebApplication1.Models.SearchResult>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/site.css">
@{
    ViewData["Title"] = "Search MusicVideos";
}


<h1 class="text-primary" style="text-align:center">Search MusicVideos on ITunes</h1>

<script>
        $(document).ready(function () {
            var input = document.getElementById("queryid");

            input.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("button1").click();
                }
            });
        });


        function myFunction(myMessage, myMessage2) {
            $.ajax({
                url: '/Home/RecordClick',
                data: { str1: myMessage.replaceAll("+", " "), str2: myMessage2 }
            });
        }

        function myFunction2(myMessage) {
            window.open(myMessage, '_blank');
        }

    function msToHMS(ms) {
        var seconds = ms / 1000;
        var hours = parseInt(seconds / 3600);
        seconds = seconds % 3600;
        var minutes = parseInt(seconds / 60);
        seconds = seconds % 60;
        return hours + " hours " + minutes + " minutes " + parseInt(seconds) + " seconds";
    }

        function hello1() {
            var query = document.getElementById("queryid").value;

            if (query == "")
                alert("Enter some value");
            else {
                $("#tablebody").empty();
                $("#pid").empty();
                var counter = 0;
                var options = {};
                options.url = "/api/search/musicVideo/" + query;
                options.type = "GET";
                options.dataType = "json";
                options.success = function (data) {
                    data.forEach(function (element) {
                        counter++;
                        var temp = JSON.stringify(element.trackViewURL);
                        var temp2 = JSON.stringify(element.artistViewURL);
                        $("#tablebody").append(
                            "<tr><td>"  + JSON.stringify(element.trackName) +
                            "</td><td>" + JSON.stringify(element.artistName) +
                            "</td><td>" + JSON.stringify(element.primaryGenreName) +
                            "</td><td>" + new Date(JSON.stringify(element.releaseDate)).toLocaleDateString() +
                            "</td><td>" + msToHMS(JSON.parse(element.trackTimeMillis)) +
                            "</td><td><a href=javascript:myFunction(" + JSON.stringify(element.trackName).trim().replace(/ /g, "+") + "," + temp + ");myFunction2(" + temp +
                            ");>Link</a></td><td><a href=javascript:myFunction(" + JSON.stringify(element.artistName).trim().replace(/ /g, "+") + "," + temp2 + ");myFunction2(" + temp2 +
                            ");>Link</a></td></tr>")
                    });
                    document.getElementById("pid").innerHTML = counter+" records found";
                };
                options.error = function () {
                    $("#msg").html("Error while calling the Web API!");
                };
                $.ajax(options);
            }

        }

</script>


<div style="overflow-x:auto;" id="divid">
    <br /><br />
          <label>Enter your MusicVideo name:</label>
    <input type="text" id="queryid" name="query" value="">

    <input type="button" class=btn-primary id="button1" onclick="hello1()" value="Search" />

    <br />
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>MusicVideo Name</th>
                <th>Artist</th>
                <th>Genre</th>
                <th>Release Date</th>
                <th>Time</th>
                <th>ITunes MusicVideo Link</th>
                <th>ITunes Artist Link</th>
            </tr>
        </thead>
        <tbody id="tablebody">
        </tbody>
    </table>
    <p id="pid" style="text-align:center"></p>
</div>
