@model List<WebApplication1.Models.SearchResult>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/site.css">
@{
    ViewData["Title"] = "Search Podcast";
}


<h1 class="text-primary" style="text-align:center">Search Podcast on ITunes</h1>

<script>

    //Sort table based on the text string
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }


    //When the page is loaded
    $(document).ready(function () {
            var input = document.getElementById("queryid");

            input.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("button1").click();
                }
            });
        });

    //To save the name and link clicked in the database
    function saveFunction(name, urllink) {
        $.ajax({
            url: '/Home/RecordClick',
            data: { str1: name.replaceAll("+", " "), str2: urllink }
        });
    }

    //Redirect to the iTunes link
    function redirectFunction(urllink) {
        window.open(urllink, '_blank');
    }

    //To call the HelloController API and get podcast related data
    function mainFunction() {
            var query = document.getElementById("queryid").value;

            if (query == "")
                alert("Enter some value");
            else {
                $("#tablebody").empty();
                $("#pid").empty();
                var counter = 0;
                var options = {};
                options.url = "/api/search/podcast/" + query;
                options.type = "GET";
                options.dataType = "json";
                options.success = function (data) {
                    data.forEach(function (element) {
                        counter++;
                        var trackURL = JSON.stringify(element.trackViewURL);
                        var imageURL = JSON.stringify(element.artworkUrl100);
                        $("#tablebody").append(
                            "<tr><td>" + JSON.stringify(element.trackName).replaceAll("\"", "") +
                            "</td><td><img class=\"zoom\" src=" + imageURL + " alt = \"No image\">" +
                            "</td><td>" + JSON.stringify(element.artistName).replaceAll("\"", "") +
                            "</td><td>" + JSON.stringify(element.contentAdvisoryRating).replaceAll("\"", "") +
                            "</td><td>" + new Date(JSON.stringify(element.releaseDate)).toLocaleDateString() +
                            "</td><td>" + JSON.stringify(element.primaryGenreName).replaceAll("\"", "") +
                            "</td><td><a href=javascript:saveFunction(" + JSON.stringify(element.trackName).trim().replace(/ /g, "+") + "," + trackURL + ");redirectFunction(" + trackURL + ");>Link</a></td></tr>")
                    });
                    document.getElementById("pid").innerHTML = counter+" records found";
                };
                options.error = function () {
                    $("#msg").html("Error while calling the Web API!");
                };
                $.ajax(options);
            }

        }

</script>


<div style="overflow-x:auto;" id="divid">
    <h4 style="text-align:center">Click Name, Author, Content Advisory Rating or Genre headers to sort the table.</h4>
    
    <br /><br />
    <label>Enter your Podcast name:</label>
    <input type="text" id="queryid" name="query" value="">

    <input type="button" class=btn-primary id="button1" onclick="mainFunction()" value="Search" />

    <br />
    <br />
    <table class="table table-bordered" id="myTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Podcast Name</th>
                <th>Podcast Poster</th>
                <th onclick="sortTable(2)">Artist Name</th>
                <th onclick="sortTable(3)">Content Advisory Rating</th>
                <th>Release Date</th>
                <th onclick="sortTable(5)">Genre</th>
                <th>ITunes Link</th>
            </tr>
        </thead>
        <tbody id="tablebody">
        </tbody>
    </table>
    <p id="pid" style="text-align:center"></p>
</div>